<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<body>
<div style="padding: 15em; background-color: blanchedalmond;">
    <h1 style="text-align: center">About Us </h1>
    <p style="font-size: x-large">
        Josh's PC Store was established in 2021 and commits to providing excellent products and service so their customers can meet their PC needs.
    </p>
</div>


<a href="http://localhost:8080/">Link
    to Main Screen</a>
</body>
</html>